<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Expires" content="Tue, 01 Jan 1995 12:12:12 GMT">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-control" content="no-cache">
</head>
<body>

<!-- ng-controller is defined in cpe_projects.html, this is just a route -->
<div class="container-fluid">
	<div class="left-nav-menu col-md-2">
		<ul class="list-group">
			<li class="list-group-item tool-box" data-toggle="modal" data-target="#add-new-project-modal"><center><img class="nav-menu-image" src="images/project_create.png"></center><span class="overlay-add overlay"><div class="overlay-text">Add Project</div></span></li>
			<li class="list-group-item tool-box" ng-click="renderModal.delPj()"><center><img class="nav-menu-image" src="images/project_delete.png"></center><span class="overlay-del overlay"><div class="overlay-text">Delete Project</div></span></li>
			<li class="list-group-item list-btn"><button id="show-all-btn" class="btn" ng-click="setFilterFn($event)">Show All</button></li> 
			<li class="list-group-item list-btn"><button id="state-filter-btn" class="btn" ng-click="setFilterFn($event)">By Schedule</button></li> 
			<li class="list-group-item list-btn"><button id="tag-filter-btn" class="btn" ng-click="setFilterFn($event)">By Tagname</button></li>
			<li class="list-group-item list-btn"><button id="cat-filter-btn" class="btn" ng-click="setFilterFn($event)">By Category</button></li>

		</ul>
	</div>



<div class="panel-group project-panel-group">
<!--LEARNING built-in filter doesn't work with object iteration !-->
	<div ng-repeat="(headers,custFilter) in filterMap" class="col-md-9">
		<h4 class="table-header">{{headers}}</h4>
		<table class= "table table-hover table-bordered active-pj-table">
		<tr><th>#</th><th>Project Name</th><th>FC Date</th> <th>RC Date</th> <th>VR Date</th><th>Project Manager</th><th>Firmware Integrator</th></tr>
		<tr ng-repeat="project in projectobjs | filter:keyword | filter: custFilter" ng-click="selDatabase(project.pjname)"><td>{{$index+1}}</td><td class="td-pj"><a>{{project.pjname}}</a></td><td>{{projectinfo[project.pjname].datefc}}</td>
		<td>{{projectinfo[project.pjname].daterc}}</td> <td>{{projectinfo[project.pjname].datevr}}</td><td>{{projectinfo[project.pjname].pm}}</td>
		<td>{{projectinfo[project.pjname].fw}}</td> </tr>
		</table>
	</div>

<!-- Show project charter modal-->
<div id="active-project-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
			<h4 class="modal-title text-primary"><center>Project Charter - {{projectname}}</center></h4>
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<button class="btn btn-warning pull-left" data-hover="tooltip" ng-click="renderModal.movePj()" data-placement="bottom" title="Copy project to &quot;Completed Project&quot; database." ng-click="defectCounter()"> 
				Mark Project Completion
			<span class="glyphicon glyphicon-paste"> </span></button>
      </div>

      <div class="modal-body">
	 <div class="table-summary col-md-6">
	 	<table class= "table table-striped table-bordered table-hover table-condensed summary-table col-md-4">
			<tr><td class="bg-info" width="30%"> SKUs </td> <td  > {{projectdata.skus}}</td></tr>
			<tr><td class="bg-info"> Tagname </td> <td  >{{projectdata.tag}}</td></tr>
			<tr><td class="bg-info"> Product Category </td> <td>{{projectdata.division}}</td></tr>
			<tr><td class="bg-info"> Start Date </td> <td  > {{projectdata.datestart}}</td></tr>
			<tr><td class="bg-info"> FC Date </td> <td  > {{projectdata.datefc}}</td></tr>
			<tr><td class="bg-info"> RC Date </td> <td  > {{projectdata.daterc}}</td></tr>
			<tr><td class="bg-info"> VR Date </td> <td  >{{projectdata.datevr}}</td></tr>
			<tr><td class="bg-info"> Program Manager </td> <td  > {{projectdata.pm}}</td></tr>
			<tr><td class="bg-info"> Firmware Integrator </td> <td  > {{projectdata.fw}}</td></tr>
			<tr><td class="bg-info"> SQ Lead </td> <td  >{{projectdata.sq}}</td></tr>
			<tr><td class="bg-info"> Unique Firmware </td> <td  >{{projectdata.uniquefw}}</td></tr>
			<tr><td class="bg-info"> Branch </td> <td  >{{projectdata.branch}}</td></tr>
			<tr><td class="bg-info"> Project Category </td> <td  >{{projectdata.cat}}</td></tr>
	 	</table>
	 </div>
	<div class="col-md-6">
			<h5>Project Notes: </h5>
			<div id="div-tooltip">
					<p class="p-tooltip"> {{projectdata.tooltip}} </p>
				<!--textarea rows="18" class="tooltip" readonly>{{projectdata.tooltip}}</textarea-->
				<!--placeholder for the tooltip -->
			</div>
  </div>
	<hr> 
      	<table id="active-project-table" class="table table-bordered table-condensed">
			<tr style="font-size:12px; font-weight:bold"><th>#</th><th>CRID</th><th>Type</th><th class="cell-summary">Summary</th><th>Requestor</th><th>Fix Provider</th><th>Test Partner</th><th>Affected SKUs</th><th>SHA</th><th>component</th><th>Status</th></tr>
			<tr style="font-size:10px" ng-repeat="x in projectitems"><td> {{$index+1}} </td><td>{{x.crid}}</td><td>{{x.type}}</td><td>{{x.summary}}</td><td>{{x.requestor}}</td><td>{{x.fixer}}</td><td>{{x.testteam}}</td><td>{{x.products}}</td><td>{{x.sha}}</td><td>{{x.component}}</td><td ng-class="selectRight.statusColor(x.status)">{{x.status}}</td></tr>
      	</table>
      </div>
      <div class="modal-footer">
		    <button class="btn btn-warning admin" ng-click="renderModal.importItem()"> Import </button>
			<button class="btn btn-success admin" ng-click="renderModal.addItem()"> Add </button>
			<button class="btn btn-primary admin" ng-click="renderModal.editItem(projectdata.cat)"> Edit </button>
			<button type="button" class="btn btn-danger admin" ng-click="renderModal.delItem()">Delete </button>
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>	
      </div>
    </div>

  </div>
</div>
<!-- project charter modal ends-->

<!-- Add item modal begins using directive -->
<div add-item-modal></div> 
<!-- Add item modal ends -->

<!-- import item modal begins using directive -->
<div import-item-modal></div>
<!-- import item modal ends -->

<!-- Modify item modal is defined, can't use "draggable" here, it will break the cursor behavior in input field -->
<!--not using directive here as there will be too many bindings-->
<div modify-item-modal></div>

<!-- Delete item modal is defined -->
<div class="modal fade" id="delete-item-modal">

<div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-success">
          <button type="button" class="close" data-dismiss="modal"><small>Cancel</small>&times;</button>
          <h4 class="modal-title">Select Items To Delete</h4>
        </div>
<div class="modal-body">
<div class="panel">
<div class="panel-body">
<form id="form-del-item" ng-submit="deleteItemSubmit()"> 
<div class="active-project-table-delete">  
      <table class="table table-bordered table-condensed table-striped table-hover">
      <tr><td></td><td>Item</td><td>CRID</td><td>Summary</td></tr>
      <tr style="font-size:12px" ng-repeat="x in projectitems">
	  <!-- Bind the checkbox value to scope variable as an input of the function to display the DELETE button-->
	  <!--LEARNING Bootstrap form-control has issue with checkbox displaying across browsers, so remove the form-control class -->
	  <td><input type="checkbox" name="{{x.id}}" ng-model="checkboxValue[$index]"></td><td>{{$index+1}}</td><td>{{x.crid}}</td><td>{{x.summary}}</td>
      </tr>
      </table>
</div>
<br>
<h5 ng-hide="checkboxChecked()" class="text-success"> Please select one or more items above </h5>
<input class="admin btn btn-danger" type="submit" value="Delete" ng-show="checkboxChecked()">
</form>
<div id="del-item-status"></div>
</div>
</div>
</div>
</div>
<div class="modal-footer"> 
</div>
</div>

</div>
<!-- Delete item modal ends -->


<!--add new project directive -->
<std-add-new-project></std-add-new-project>




<!-- Delete project modal is defined -->
<div class="modal fade" id="delete-project-modal">

<div class="modal-dialog">
<div class="modal-content">
        <div class="modal-header bg-">
          <button type="button" class="close" data-dismiss="modal"><small>Cancel</small>&times;</button>
          <h4 class="modal-title">Select Project To Delete</h4>
        </div>
<div class="modal-body">
<div class="panel">
<div class="panel-body">

<!-- use ng-submit, ng-options for the form submission, and the selected option is availble in $scope.deletedProj.-->
<form id= "delete-pj-form" ng-submit ="delPjSubmit(deletedProj)"> 
<select class="form-control del-project-select" ng-model="deletedProj" ng-change="trackSelectChange()" ng-options="project for project in projectlist">
</select>
<br><br>

<input ng-hide="deletePressed" class="admin btn btn-danger"  ng-click="confirmDelProject()" value="Delete">
<p ng-show="deletePressed" class="text-success"> Do you confirm to delete above project? </P>
<input class="form-control input-sm" type="hidden" name="selectedProj" value ="{{deletedProj}}">
<input ng-show="deletePressed" class="admin btn btn-primary" type="submit" value="Confirm">
</form>

<div id="del-pj-status"></div>

</div>
</div>
</div>
</div>
</div>
</div>
<!-- Delete project modal ends -->

<!--Move project Modal -->
<div id="move-project-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-primary">Copy {{projectname}} to 【Completed Project】</h4>
      </div>
<div class="modal-body">
	<form id="form-move-pj" ng-submit="movePjObj.submit()"> 
		<div class="form-group">
			<input type="hidden" name="project_id" value="{{projectid}}" >
			<label class="control-label"><small>Firmware Version:</small></label>
			<input type="text" class="form-control input-sm" name="revision" style="width:50%" required>
			<label class="control-label"><small>Return of Investment:</small></label>
			<input type="text" class="form-control input-sm" name="roi" style="width:50%" required>
			<hr>
			<label class="control-label"><small>Cloud Publish Date:</small></label>
			<br>
			<input class="date-picker form-control" id="live-date-input" name="datelive" type="text">
			<small>  --or--  </small>
			<label class="checkbox-inline"><input type="checkbox" id="live-date-check" onchange="Utility.datePickerValidate(event)">Not Applicable</label>
			<br>
			<label class="control-label"><small>FDU Publish Date:</small></label>
			<br>
			<input class="date-picker form-control" id="fdu-date-input" name="datefdu" type="text" >
			<small>  --or--  </small>
			<label class="checkbox-inline"><input type="checkbox" id="fdu-date-check" onchange="Utility.datePickerValidate(event)">Not Applicable</label>
			<br>
			<label class="control-label"><small>MFG Roll-in Date:</small></label>
			<br>
			<input class="date-picker form-control" id="mfg-date-input" name="datemfg" type="text">
			<small>  --or--  </small>
			<label class="checkbox-inline"><input type="checkbox" id="mfg-date-check" onchange="Utility.datePickerValidate(event)">Not Applicable</label>
			<br>
			<hr>
			<label class="control-label"><small>SHA</small></label>
			<input type="text" class="form-control input-sm" name="scmkey" style="width:90%" required>
			<label class="control-label"><small>Signature</small></label>
			<input type="text" class="form-control input-sm" name="signature" style="width:90%" required>
			<label class="control-label"><small>Firmware Link</small></label>
			<input type="text" class="form-control input-sm" name="fwlink" style="width:90%" required>
			<br>
			<input type="submit" class="btn btn-primary" value="submit">	  
		</div>
		 <div id="move-pj-status"></div>

		</div>
	</form>
</div>
</div>
</div>
</div>
<!-- Move project Modal end-->

<!-- alert Modal -->
<div alert-modal></div>
<!--alert Modal -end-->


<!--tooltip modal -->

<div id="tooltip-modal" class="modal fade">
 <div class="modal-dialog">
 
 <div class="modal-content">
 <div class="modal-header">
   <button type="button" class="close" data-dismiss="modal"><small>Cancel</small>&times;</button>
 <h4 class="modal-title text-primary"><center>Modify Tooltip </center></h4>
 </div>
 
<div class="modal-body">
<form id="tooltip-form">
<button class="btn btn-info" ng-click="insertDate()">Insert Date </button>
<br>
<input type="hidden" name="rootindex" value="{{ttEntry.rootindex}}">
<textarea name="tooltip">modify tooltip</textarea>
</form>
<div id="tooltip-edit-status"></div>
</div>

<div class ="modal-footer">
<button class="btn btn-primary" ng-click= "submitTooltip()">Submit </button>
</div>
</div>
</div>
</div>

<!-- upload preview modal-->
<div id="preview-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
			<h4 class="modal-title text-primary"><center>Preview</center></h4>
			<button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
      	<table id="preview-table" class="table table-bordered table-condensed">
			<tr><th>#</th><th>CRID</th><th>Type</th><th class="cell-summary">Summary</th><th>Requestor</th><th>Fix Provider</th><th>Test Partner</th><th>Affected SKUs</th><th>SHA</th><th>component</th><th>Status</th></tr>
			<tr ng-repeat="x in importItemObj.previewlist"><td> {{$index+1}} </td><td ng-class="importItemObj.preValidate.empty(x.crid)">{{x.crid}}</td><td ng-class="importItemObj.preValidate.type(x.type)">{{x.type}}</td>
			<td ng-class="importItemObj.preValidate.empty(x.summary)">{{x.summary}}</td><td ng-class="importItemObj.preValidate.empty(x.requestor)">{{x.requestor}}</td><td ng-class="importItemObj.preValidate.empty(x.fixer)">{{x.fixer}}</td>
			<td ng-class="importItemObj.preValidate.empty(x.testteam)">{{x.testteam}}</td><td ng-class="importItemObj.preValidate.empty(x.products)">{{x.products}}</td><td ng-class="importItemObj.preValidate.empty(x.sha)">{{x.sha}}</td>
			<td ng-class="importItemObj.preValidate.comp(x.component)">{{x.component}}</td><td ng-class="importItemObj.preValidate.status(x.status)">{{x.status}}</td></tr>
      	</table>
		<center><h4>Note: Fields in YELLOW are not compulsory to be corrected, but highly recommended to to so. </h4></center>
      </div>
      <div class="modal-footer">
			<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!-- update preview modal ends-->


</div>





</body>

</html>