<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Expires" content="Tue, 01 Jan 1995 12:12:12 GMT">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-control" content="no-cache">
</head>
<body>
<div class="container-fluid">
<div class="product-cat col-md-2">
<ul class="nav nav-pills nav-stacked">
<!-- use NG-repeat instead, and note that the ng-class need to set in different tabs-->
<li class="tab-list" ng-repeat="tab in tabs"> <a data-toggle="pill" data-target="{{tab.link}}" ng-click="setSelectedTab(tab)"><i class="glyphicon glyphicon-star-empty"></i>{{tab.label}} </a></li>
</ul>
<ul class="list-group">
<li class="list-group-item" ng-click="renderModal.addPd()"><center><img class="nav-menu-image" src="images/project_create.png"></center></li>
<li class="list-group-item" ng-click="renderModal.delPd()"><center><img class="nav-menu-image" src="images/project_delete.png"></center></li>
<li class="list-group-item" ng-click="renderModal.addPj()"><center><img class="nav-menu-image" src="images/add_project.png"></li>
<li class="list-group-item" ng-click="renderModal.delPj()"><center><img class="nav-menu-image" src="images/remove_project.png"></center></li>
</ul>
</div>

<div class="col-md-10">
    <div class="tab-content">
    <!-- Nested ng-repeat, variable can span along the whole div, for example, product can be passed to setDatabase()  -->
    <div id="ojpro-projects" class="content-container tab-pane" ng-class="tabClass(tab)">
      <div disp-pj-list></div>
    </div>

    <div id="oj-projects" class="content-container tab-pane" ng-class="tabClass(tab)">
      <div disp-pj-list></div>
    </div>

    <div id="pws-projects" class="content-container tab-pane" ng-class="tabClass(tab)">
      <div disp-pj-list></div>
    </div>

    <div id="ics-projects" class="content-container tab-pane" ng-class="tabClass(tab)">
      <div disp-pj-list></div>
    </div>

    <div id="mobile-projects" class="content-container tab-pane" ng-class="tabClass(tab)">
      <div disp-pj-list></div>
    </div>

</div>
</div>

<!-- individual project Modal -->
<div disp-pj-modal> </div>
<!--individual project end -->

<!-- Add new product Modal -->
<div comp-add-pd-modal></div>
<!-- Add new product Modal end-->

<!-- Delete product Modal -->
<div comp-del-pd-modal></div>
<!-- Delete product Modal end-->

<!-- Add new project Modal -->
<div comp-add-pj-modal></div>
<!-- Add new project Modal end-->

<!--Delete project Modal -->
<div comp-del-pj-modal></div>
<!-- Remove project Modal end-->

<!-- Add item modal is defined -->
<div comp-add-item-modal></div>
<!-- Add item modal ends -->

<!-- Modify item modal starts -->
<div comp-edit-item-modal></div>
<!-- Modify item modal ends -->

<!-- Import item modal starts -->
<div import-item-modal></div>
<!-- Import item modal ends -->

<!-- Delete item modal is defined -->
<div class="modal fade" id="remove-item-modal">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-success">
          <button type="button" class="close" data-dismiss="modal"><small>Cancel</small>&times;</button>
          <h4 class="modal-title">Select Items To Delete</h4>
        </div>
        <div class="modal-body">
            <form id="form-del-item" ng-submit="delItemObj.submit()"> 
            <div class="active-project-table-delete">  
                  <table class="table table-bordered table-condensed table-striped table-hover">
                    <tr><td></td><td>Item</td><td>CRID</td><td>Summary</td></tr>
                    <tr style="font-size:12px" ng-repeat="x in itemlist">
                  <!-- Bind the checkbox value to scope variable as an input of the function to display the DELETE button-->
                    <td><input align="center" type="checkbox"  name="{{x.id}}" ng-model="delItemObj.ckbox[$index]"></td><td>{{$index+1}}</td><td>{{x.crid}}</td><td>{{x.summary}}</td>
                    </tr>
                  </table>
            </div>
            <br>
            <h5 ng-hide="delItemObj.ckboxCheck()" class="text-success"> Please select one or more items above </h5>
            <input class="admin btn btn-danger" type="submit" value="Delete" ng-show="delItemObj.ckboxCheck()">
            </form>
            <div id="del-item-comp-status"></div>
        </div>
      </div>
    <div class="modal-footer"> 
    </div>
  </div>
</div>
<!-- Delete item modal ends -->


<!-- upload preview modal-->
<div id="preview-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
			<h4 class="modal-title text-primary"><center>Preview</center></h4>
			<button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
      	<table id="preview-table" class="table table-bordered table-condensed">
			<tr><th>#</th><th>CRID</th><th>Type</th><th class="cell-summary">Summary</th><th>Requestor</th><th>Fix Provider</th><th>Test Partner</th><th>Affected SKUs</th><th>SHA</th><th>component</th><th>Status</th></tr>
			<tr ng-repeat="x in previewlist"><td> {{$index+1}} </td><td ng-class="importItemObj.preValidate.empty(x.crid)">{{x.crid}}</td><td ng-class="importItemObj.preValidate.type(x.type)">{{x.type}}</td>
			<td ng-class="importItemObj.preValidate.empty(x.summary)">{{x.summary}}</td><td ng-class="importItemObj.preValidate.empty(x.requestor)">{{x.requestor}}</td><td ng-class="importItemObj.preValidate.empty(x.fixer)">{{x.fixer}}</td>
			<td ng-class="importItemObj.preValidate.empty(x.testteam)">{{x.testteam}}</td><td ng-class="importItemObj.preValidate.empty(x.products)">{{x.products}}</td><td ng-class="importItemObj.preValidate.empty(x.sha)">{{x.sha}}</td>
			<td ng-class="importItemObj.preValidate.comp(x.component)">{{x.component}}</td><td ng-class="importItemObj.preValidate.status(x.status)">{{x.status}}</td></tr>
      	</table>
		<center><h4>Note: Fields in YELLOW are not compulsory to be corrected, but highly recommended to to so. </h4></center>
      </div>
      <div class="modal-footer">
			<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!-- update preview modal ends-->

</div>

</body>

</html>