
button.release-btn {
	font-size:12px;
	background: #33a6cc;
	box-shadow: 0 3px 0 0 #007299;
	margin-bottom: -3px;
	margin-top: 3px;
	border-radius: 24px;
	
}

    
p.display-name{
	font-family: Agency FB;
	font-size: 17pt;
	
}
p.display-year
{
	width:30%;
}

div.btn-group-layout{
	height: 250px;
	
}

.nav-pills>li {

border-bottom: 2px solid #04A777;
border-top: 2px solid #04A777;
}

.nav-pills>li>a {

color:#04A777;
font-family:  Agency FB;
font-size: 18px;
font-weight: bold;
background-color: transparent;
}


.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    color: #fff;
	background-color:#04A777;
}
div.tab-content{
	
	margin-top: 12pt;
	
}
.btn-circle{
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
  box-shadow: 3pt 3pt 3pt #777;
}

.btn-circle:hover{

box-shadow: 3pt 3pt 3pt #777;
}
td.product-name{
	
	width: 90pt !important;
	text-align:justify!important;
	margin: 5pt;
	font-size: 16px;
		
}

div.product-cat {
	
	margin-left:0 !important;
	padding:0 !important;
	
}


div.content-container{
	margin-top: -5pt;
}


div.col-md-3{

margin: 20pt;
}

li.tab-list:hover{
	
	cursor:pointer;
	margin-left: 5pt;
	
}

@keyframes table-transition {
	
	from{opacity:0;}
	to {opacity:1;}
}

.tooltip-inner {
    width: 200px; 
}


table.summary-table {
	
	font-size: 10pt;
	font-family: Lucida Sans Unicode;
}

td.itemfixed {
	
	background-color: lightskyblue;
	
}

td.iteminprogress {
	
	background-color: khaki;
}

td.itemverified {
	
	background-color: mediumseagreen;
}

td.itemreopen {
	
	background-color: indianred;
}

th.summary {
	
	width: 35%;
}

select.status-select,
select.type-select,
select.component-select
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent url("../images/select.png") no-repeat right center;
    background-size: 20px 20px;
	width:30%;
	height:25pt;
	font-size:11px;	
	
}




select.del-project-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent url("../images/select.png") no-repeat right center;
    background-size: 25px 25px;
	width:50%;
	height:30pt;
	font-size:14px;	
	
}

select.status-modify-box,
select.type-modify-box,
select.component-modify-box
{
	font-size:8pt;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent url("../images/select.png") no-repeat right center;
    background-size: 20px 20px;
}


select.add-project-select,
select.remove-project-select,
select.del-product-select,
select.move-project-select
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent url("../images/select.png") no-repeat right center;
    background-size: 25px 25px;
	width:50%;
	height:25pt;
	font-size:12px;				
}

td.sel-box-col{
	
	width:10%;
	height:80%;
}

.fixed-cell
{
	background-color: #f1f1f1 !important;
	width: 30%;
}

input.input-expand:focus
{
	width:200pt;
	
}


input.input-expand-more:focus
{
	width:500pt;
	
}

/* disable microsoft pseudo-element display */
select::-ms-expand {
    display: none;
}

.modal-lg
{
	width: 95%;
	
}

#ui-datepicker-div{
	opacity: 0.9!important;
	
}


div.left-nav-menu
{
	margin-top: 10pt;
	margin-left: 5pt;
	height: 1300pt;
	
}

div.left-nav-menu>ul>li
{

	font-family: Agency FB;
	font-size: 15pt;
	
}

li.dropdown{

    width: 120pt;
}

img.nav-menu-image

{
	width: 50px;
	height:50px;
	
}

div.left-nav-menu:hover

{
	cursor:pointer;
	
}

li.list-group-item
{
	  border: none;
}

li.list-group-item:hover
{
	  background-color: gainsboro;
}

.list-menu-proj

{
	
	margin-top: 20pt;
}


.list-menu-aux

{
	position: relative;
	margin-top: -220pt;
	margin-left: 80pt;
}
.list-menu-proj>li, .list-menu-aux>li
{
	border: none;
	font-family: Agency FB;
	font-size: 15pt;
	width: 70pt;
	
}

.list-menu-proj>li :hover,
.list-menu-aux>li :hover
{
 cursor: pointer;
	
}


label.checkbox-add
{
font-size: x-small;
position: relative;
width:20%;
margin-top: -100pt;
margin-left: 150pt;
color:slategray;
	
}



label.checkbox-edit
{
font-size: x-small;
color:slategray;
text-align: right;
display:block;
float:right;
	
}

#filter-summary th,
#filter-proj th,
#break-down-table th
{
	background-color:#b9c9fe; 
	font-family: Agency FB;
	font-size: 15px;
}
#filter-summary td,
#filter-proj td,
#break-down-table td{
	background-color:#e8edff; 
	
}

/**LEARNING : how to add overlay effect  */

div.overlay-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.overlay-add {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  right: 0;
  height: 100%;
  width: 20%;
  transition: .3s ease;
  opacity: 0;
  background-color: #449d44;
}

.overlay-del {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 100%;
  height: 100%;
  width: 20%;
  transition: .3s ease;
  opacity: 0;
  background-color: #c9302c;
}


li.tool-box:hover .overlay-add{

width:100%;
left:0;
opacity:1;
}

li.tool-box:hover .overlay-del{

width:100%;
right:0;
opacity:1;

}

input[type="checkbox"]
{
  -webkit-appearance:checkbox !important;
}

#active-project-table tr:not(:first-child) td{
    
    font-size: 12px;
}

li.selected-tab{

background-color: #337ab7;
color:white !important;

}

li.selected-tab>a{

color:white !important ;

}

.navbar-nav>li:hover {
	
    background-color: #337ab7;
}




table.active-pj-table tr td.td-pj:hover{
    cursor: pointer;
}


#cpe-release-table th,
#cpe-release-table td,
#active-project-table th,
#active-project-table td{
    
    border: 1px solid #b9c9fe;
    
}
#cpe-release-table tr:first-child,
#active-project-table tr:first-child{
    
    background-color: #b9c9fe;
    
}

#cpe-release-table tr:not(:first-child),
#active-project-table tr:not(:first-child){
    
   font-size:11px;
       
    
}

th.cell-summary {
    
    width: 30%;
    
}

.modal {
    
    overflow: scroll !important;
}

li.list-btn
{
	  border: none;
      height: 60px;
      margin: 5pt;
}

li.list-btn:hover
{
background-color: white;
}


/*
:focus {
    -webkit-appearance: none;
}*/

li.list-btn>button {
    
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 2px 2px 2px;
    
}

table.active-pj-table tr th:first-child{
    
width: 2%;
    
}

table.active-pj-table tr th:nth-child(2){
    
width: 25%;
    
}

table.active-pj-table tr th:nth-child(3),
table.active-pj-table tr th:nth-child(4),
table.active-pj-table tr th:nth-child(5){
    
width: 10%;
    
}

table.active-pj-table tr th:nth-child(6){
    
width: 20%;
    
}

table.active-pj-table tr th:nth-child(7){
    
width: 20%;
    
}

span.sidenote{

font-size: 10px;

}

div#add-pj-status,
div#del-pj-status,
div#add-item-status,
div#del-item-status,
div#import-item-status,
div#add-pd-status,
#add-pj-comp-status,
#del-pj-comp-status,
#add-item-comp-status,
#del-item-comp-status{

width: 90%;
height: 60px;

}


div#edit-item-status,
div#edit-item-comp-status{

width: 50%;
height: 60px;

}


h4.alert-modal-title{

color:red;
	
}

table.summary-table tr td
{
font-size: 14px;
}

table.summary-table tr td:first-child
{
background-color: #d9edf7;
}

input.btn{

margin: 5px;

}

table#preview-table tr th
{
    background-color: #d9edf7;

}

table#preview-table tr td
{
    font-size: 10px;

}

td.cell-error{

background-color: #f2dede;

}

td.cell-warning{

background-color: #fcf8e3;

}


#live-date-input,
#fdu-date-input,
#mfg-date-input{

	display: inline-block;
}

div#div-tooltip{

overflow:auto;

}
p.p-tooltip{

color: #808080;
font-family: Verdana;
}