<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="container-fluid">
<div class="col-md-2 col-sm-2 col-xs-2 left-nav-menu">
<ul class="list-group">
  <li class="list-group-item" ng-click="activeCtrl.renderModal.addPj()"><center><img class="nav-menu-image" src="images/project_create.png"></center><span class="overlay overlay-add"><div class="overlay-text">Add Project </div></span></li>
  <li class="list-group-item" ng-click="activeCtrl.renderModal.delPj()"><center><img class="nav-menu-image" src="images/project_delete.png"></center><span class="overlay overlay-del"><div class="overlay-text">Delete Project </div></span> </li>
  <li class="list-group-item"><button id="btn-state" class="btn btn-filter btn-default" ng-click ="activeCtrl.CustFilterObj.state()">By State</button></li> 
  <li class="list-group-item"><button id="btn-region" class="btn btn-filter btn-default" ng-click ="activeCtrl.CustFilterObj.region()">By Region</button></li>
</ul>


</div>

<div class="col-md-10">
  
<div ng-repeat="section in activeCtrl.filterObjArray">
  <h4 ng-class="section[2]">{{section[0]}}</h4>
  <table class="table table-filtered table-condensed">
  <tr ng-class="section[3]"><th>#</th><th>Customer</th><th>Product</th><th>Main Feature</th><th>VR Date</th><th>Revenue</th><th>Requestor</th><th>Status</th></tr>
  <tr ng-repeat="x in activeCtrl.entries | filter:searchKeyword | filter:section[1]" ng-click="activeCtrl.renderModal.display(x.id)">
  <td>{{$index+1}}</td><td>{{x.customer}}</td><td>{{x.product}}</td><td class="td-feature">{{x.feature}}</td><td>{{x.datevr}}</td><td>{{x.revenue}}</td><td>{{x.requestor}}</td><td>{{x.state}}</td></tr>
  </table> 
  <hr>      
</div>

<div class="tooltip-item"> 
</div>
</div>
</div>
    


<!-- Show individual entry modal-->
<disp-pj-modal pjdata ="activeCtrl.pjdata" itemlist = "activeCtrl.itemlist" render-modal = "activeCtrl.renderModal"> </disp-pj-modal>
<!-- Ends -->

<!--Add new project modal directive -->
<add-pj-modal add-pj-obj="activeCtrl.addPjObj" completed="activeCtrl.completed"></add-pj-modal>
<!--add-pj-modal data-add-pj-obj="activeCtrl.addPjObj"></add-pj-modal-->
<!--add-pj-modal addpjobj="activeCtrl.addPjObj"></add-pj-modal-->
<!--LEARNING Attribute allows only lower case, that's why we need to change the binding variable in the component to lower case as well
1. standard solution; 2. bootstrap solution; 3. lowercase workaround; -->
<!--Add new project modal directive Ends -->

<!--delete project modal directive -->
<delete-pj-modal del-pj-obj="activeCtrl.delPjObj" entries="activeCtrl.entries"></delete-pj-modal>
<!--delete project modal directive Ends -->


<!-- Add item modal directive -->
<add-item-modal add-item-obj ="activeCtrl.addItemObj" pjid="activeCtrl.pjid"></add-item-modal>
<!--Add item directive Ends -->

<edit-item-modal edit-item-obj="activeCtrl.editItemObj" pjdata = "activeCtrl.pjdata" itemlist ="activeCtrl.itemlist" completed="activeCtrl.completed"> </edit-item-modal>

<!-- Delete item modal is defined -->
<delete-item-modal del-item-obj="activeCtrl.delItemObj" itemlist ="activeCtrl.itemlist"></delete-item-modal>
<!-- Delete item modal ends -->

<!--modify tooltip modal -->

<div id="tooltip-modal" class="modal fade">
  <div class="modal-dialog">
  
  <div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><small>Cancel</small>&times;</button>
  <h4 class="modal-title text-primary"><center>Modify Tooltip </center></h4>
  </div>
  
  <div class="modal-body">
  <form id="form-edit-tooltip" ng-submit="editTipObj.submit()">
  <button class="btn btn-info" ng-click="editTipObj.insertDate()">Insert Date </button>
  <br>
  <input type="hidden" name="project_id" value="{{activeCtrl.pjid}}">
  <textarea name="tooltip">{{pjdata.tooltip}}</textarea>
  </form>
  <div id="edit-tooltip-status"></div>
  </div>

  <div class ="modal-footer">
  <button class="btn btn-primary btn-in-modal">SAVE </button>
  </div>
  </div>
  </div>
</div>


</body>
</html>