
<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="container-fluid">
<div class="col-md-2 col-sm-2 col-xs-2 left-nav-menu">
<ul class="list-group">
    <li class="list-group-item" data-toggle="modal" data-target="#add-project-modal"><center><img class="nav-menu-image" src="images/project_create.png"></center><span class="overlay overlay-add"><div class="overlay-text">Add Project </div></span></li>
    <li class="list-group-item" data-toggle="modal" data-target="#delete-project-modal" ng-click="resetDelClicked()"><center><img class="nav-menu-image" src="images/project_delete.png"></center><span class="overlay overlay-del"><div class="overlay-text">Delete Project </div></span> </li>
    
<li class="list-group-item"><button id="state-filter-btn" class="btn btn-warning" ng-click="setFilter($event)">By State</button></li> 
<li class="list-group-item"><button id="region-filter-btn" class="btn" ng-click="setFilter($event)">By Region</button></li>
<li class="list-group-item"><button id="sch-filter-btn" class="btn" ng-click="setFilter($event)">By Schedule</button></li>
</ul>


</div>

<div class="col-md-10">
     
<div>
<h4 class="header-seven-day">{{filterCust.headers[0]}}</h4>
<table id="table-seven-day" class="table table-hover table-condensed table-filtered">
<tr><th>#</th><th>Customer</th><th>Product</th><th>Main Feature</th><th>VR Date</th><th>Revenue</th><th>Requestor</th><th>Status</th></tr>
<tr ng-repeat="x in entries | filter:keyword | filter:filterCust.filters[0]" data-toggle="modal" data-target="#active-srt-modal" ng-click="setEntryDb(x.rootindex)" ng-mouseenter="showRemark($event, x.rootindex)">
<td>{{$index+1}}</td><td>{{x.customer}}</td><td>{{x.product}}</td><td class="td-feature">{{x.feature}}</td><td>{{x.vrdate}}</td><td>{{x.revenue}}</td><td>{{x.requestor}}</td><td>{{x.state}}</td></tr>
</table>       
</div>

<hr>
    
<div>
<h4 class="header-ft-day"> {{filterCust.headers[1]}}</h4>
<table id="table-fourteen-day" class="table table-hover table-condensed table-filtered">
<tr><th>#</th><th>Customer</th><th>Product</th><th>Main Feature</th><th>VR Date</th><th>Revenue</th><th>Requestor</th><th>Status</th></tr>
<tr ng-repeat="x in entries | filter:keyword | filter:filterCust.filters[1]" data-toggle="modal" data-target="#active-srt-modal" ng-click="setEntryDb(x.rootindex)" ng-mouseenter="showRemark($event, x.rootindex)">
<td>{{$index+1}}</td><td>{{x.customer}}</td><td>{{x.product}}</td><td class="td-feature">{{x.feature}}</td><td>{{x.vrdate}}</td><td>{{x.revenue}}</td><td>{{x.requestor}}</td><td>{{x.state}}</td></tr>
</table>       
</div>
<hr>

<div>
<h4 class="header-longer-day"> {{filterCust.headers[2]}}</h4>
<table id="table-longer-day" class="table table-hover table-condensed table-filtered">
<tr><th>#</th><th>Customer</th><th>Product</th><th>Main Feature</th><th>VR Date</th><th>Revenue</th><th>Requestor</th><th>Status</th></tr>
<tr ng-repeat="x in entries | filter:keyword | filter:filterCust.filters[2]" data-toggle="modal" data-target="#active-srt-modal" ng-click="setEntryDb(x.rootindex)" ng-mouseenter="showRemark($event, x.rootindex)">
<td>{{$index+1}}</td><td>{{x.customer}}</td><td>{{x.product}}</td><td class="td-feature">{{x.feature}}</td><td>{{x.vrdate}}</td><td>{{x.revenue}}</td><td>{{x.requestor}}</td><td>{{x.state}}</td></tr>
</table>       
</div>

<hr>
    
<div>
<h4 class="header-parking"> {{filterCust.headers[3]}}</h4>
<table id="table-parking" class="table table-hover table-condensed table-filtered">
<tr><th>#</th><th>Customer</th><th>Product</th><th>Main Feature</th><th>VR Date</th><th>Revenue</th><th>Requestor</th><th>Status</th></tr>
<tr ng-repeat="x in entries | filter:keyword | filter:filterCust.filters[3]" data-toggle="modal" data-target="#active-srt-modal">
<td>{{$index+1}}</td><td>{{x.customer}}</td><td>{{x.product}}</td><td class="td-feature" ng-click="setEntryDb(x.rootindex)" ng-mouseenter="showRemark($event, x.rootindex)">{{x.feature}}</td><td>{{x.vrdate}}</td><td>{{x.revenue}}</td><td>{{x.requestor}}</td><td>{{x.state}}</td></tr>
</table>       
</div>


<div class="tooltip-item"> 
</div>
</div>
</div>
    


<!-- Show individual entry modal-->
<div id="active-srt-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title text-primary"><center> {{selectedEntry.customer}} - {{selectedEntry.feature}}</center></h4>
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<button class="btn btn-warning pull-left" data-hover="tooltip" data-toggle="modal" data-target="#move-project-modal" data-placement="bottom" title="Copy project to &quot;Completed Project&quot; database."> Move Project 
		<span class="glyphicon glyphicon-paste"> </span></button>
      </div>

      <div class="modal-body">
    <div class="col-md-6">
	 <table id="table-full-detail" class= "table table-bordered table-hover table-condensed">
	 <tr><td>customer </td><td>{{selectedEntry.customer}}</td></tr>
	 <tr><td>Main Feature </td> <td> {{selectedEntry.feature}}</td></tr>
	 <tr><td>SKUs </td> <td> {{selectedEntry.product}}</td></tr>
	 <tr><td>Region</td> <td> {{selectedEntry.region}}</td></tr>
	 <tr><td>Requestor</td> <td> {{selectedEntry.requestor}}</td></tr>
	 <tr><td>Request Date </td><td> {{selectedEntry.requestdate}}</td></tr>
	 <tr><td>FC Date </td> <td> {{selectedEntry.fcdate}}</td></tr>
	 <tr><td>RC Date </td> <td> {{selectedEntry.rcdate}}</td></tr>
	 <tr><td>VR Date </td><td> {{selectedEntry.vrdate}}</td></tr>
	 <tr><td>Deal Size </td><td> {{selectedEntry.revenue}}</td></tr>
	 <tr><td>Firmware Developer </td> <td> {{selectedEntry.developer}}</td></tr>
	 <tr><td>Branch Info </td> <td> {{selectedEntry.branch}}</td></tr>
	 <tr><td>Firmware Link </td> <td> {{selectedEntry.fwlink}}</td></tr>
	 <tr><td>Current State </td> <td> {{selectedEntry.state}}</td></tr>
	 </table>
   </div>

   <div class="form col-md-6">
     <textarea rows="22" class="form-control" readonly>{{selectedEntry.tooltip}}</textarea>
    <!--placeholder for the tooltip -->
   </div>
	 </div>	  
	  <hr> 
     <table id="active-pj-table" class="table table-hover table-bordered table-condensed">
      <tr><th>Item</th><th>CRID <br><small> or RUID </small></th><th>Type</th><th class="summary">Summary</th><th>Developer</th><th>Test Partner</th><th>Affected SKUs</th><th>Component</th><th>Status</th></tr>
      <tr ng-repeat="x in selectedEntry.itemlist"><td> {{$index+1}} </td><td>{{x.crid}}</td><td>{{x.type}}</td><td>{{x.summary}}</td><td>{{x.fixer}}</td><td>{{x.testteam}}</td><td>{{x.products}}</td><td>{{x.component}}</td><td ng-class="setStatusColor(x.status)">{{x.status}}</td></tr>
     </table>
	  <!-- below is a angular directive stdModalFooter which can be reused -->
      <std-modal-footer></std-modal-footer>
    </div>

  </div>
</div>


<!--Add new project modal -->

<div id="add-project-modal" class="modal fade">
 <div class="modal-dialog">
 
 <div class="modal-content">
 <div class="modal-header">
   <button type="button" class="close" data-dismiss="modal"><small>Cancel</small>&times;</button>
 <h4 class="modal-title text-primary"><center>Add New Request </center></h4>
 </div>
 
<div class="modal-body">
<form action="php/srt/active_srt_proj_add.php" method="post"> 
<std-add-entry active-or-comp="{{activeOrComp}}"></std-add-entry>
</form>

</div>
</div>
</div>
</div>

<!--delete project modal -->

<div id="delete-project-modal" class="modal fade">
 <div class="modal-dialog">
 
 <div class="modal-content">
 <div class="modal-header">
   <button type="button" class="close" data-dismiss="modal"><small>Cancel</small>&times;</button>
 <h4 class="modal-title text-primary"><center>Delete Project </center></h4>
 </div>
 
<div class="modal-body">
<form action="php/srt/active_srt_proj_del.php" method="post"> 
<select class="form-control srt-del-select" name="project">
<option ng-repeat="x in entries">{{x.rootindex}}.{{x.customer}} - {{x.feature}}</option>
</select>
<hr>
<input class="btn btn-primary" value="Delete" ng-click="setDelClicked()" ng-hide="delClicked">
<input type="submit" class="btn btn-danger" value ="Confirm" ng-show ="delClicked">
<p class="text-success" ng-show="delClicked">Do you confirm to delete above project? </p>

</form>
</div>

</div>
</div>
</div>

<!-- Add item modal is defined -->
<div class="modal fade" id="add-item-modal">

<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header bg-success">
<button type="button" class="close" data-dismiss="modal"><small>Cancel</small>&times;</button>
<h4 class="modal-title">Add New Item</h4>
</div>
<div class="modal-body">
<div class="panel">
<div class="panel-body">
<form action="php/srt/active_srt_item_add.php" method="post">
<!--newItemNum and rootIndex are defined in local scope of directive stdAddItemForm, see in ang-util.js -->
<std-add-item-form new-item-num="{{numOfItems+1}}" root-index="{{selectedEntry.rootindex}}" active-or-comp="{{activeOrComp}}" ></std-add-item-form>
</form>
</div>
</div>
</div>
</div>
<div class="modal-footer"> 
</div>
</div>
</div>

<!-- Modify item modal is defined, can't use "draggable" here, it will break the cursor behavior in input field -->
<div class="modal fade" id="modify-item-modal">

<div class="modal-dialog modal-lg">
<div class="modal-content">
<div class="modal-header bg-primary">
<button type="button" class="close" data-dismiss="modal"><small>Cancel</small>&times;</button>
<h4 class="modal-title">Modify Project Details</h4>
</div>
<div class="modal-body">
<div class="panel">
<div class="panel-body">
<form action="php/srt/active_srt_item_modify.php" method="POST">

<!-- reusable directive stdModifyItemForm. for object, no need to use expression {{}} -->
<std-modify-item-form selected-entry="selectedEntry" active-or-comp="{{activeOrComp}}"></std-modify-item-form>
</form>
</div>
</div>
</div>
</div>
<div class="modal-footer"> 
</div>
</div>
</div>
<!-- Modify item modal ends -->

<!-- Delete item modal is defined -->
<div class="modal fade" id="delete-item-modal">

<div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-success">
          <button type="button" class="close" data-dismiss="modal"><small>Cancel</small>&times;</button>
          <h4 class="modal-title">Select Items To Delete</h4>
        </div>
<div class="modal-body">
<div class="panel">
<div class="panel-body">
<form action="php/srt/active_srt_item_delete.php" method="post"> 
<select class="form-control srt-item-select" name="item2del" ng-model="itemToDel" ng-change="resetItemDelClicked()">
<option ng-repeat="x in selectedEntry.itemlist">item{{$index+1}}. {{x.crid}}[{{x.summary}}]</option>
</select>

<br><br>
<input type="hidden" class="form-control" name="rootindex" value="{{selectedEntry.rootindex}}">
<input ng-hide="itemDelClicked" class="admin btn btn-danger"  value="Delete" ng-click="setItemDelClicked()">
<input ng-show="itemDelClicked" class="admin btn btn-primary" type="submit" value="Confirm">
<h5 ng-show="itemDelClicked" class="text-success"> Please select one or more items above </h5>

</form>
</div>
</div>
</div>
</div>
<div class="modal-footer"> 
</div>
</div>

</div>
<!-- Delete item modal ends -->

<!-- Move Project modal begins -->
<div class="modal fade" id="move-project-modal">

<div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-success">
          <button type="button" class="close" data-dismiss="modal"><small>Cancel</small>&times;</button>
          <h4 class="modal-title">Copy Project to &#12302Completed Project&#12303</h4>
        </div>
<div class="modal-body">
<div class="panel">
<div class="panel-body">
<form action="php/srt/active_srt_pj_move.php" method="post"> 
<input type="hidden" class="form-control" name="rootindex" value="{{selectedEntry.rootindex}}">
<input ng-hide="moveClicked" class="admin btn btn-warning"  value="Move" ng-click="dblConfirm()">
<input ng-show="moveClicked" class="admin btn btn-primary" type="submit" value="Confirm">
<h5 ng-show="moveClicked" class="text-success"> Do you confirm to move this project? </h5>

</form>
</div>
</div>
</div>
</div>
<div class="modal-footer"> 
</div>
</div>

</div>
<!--Move Project modal ends -->

<!--modify tooltip modal -->

<div id="tooltip-modal" class="modal fade">
 <div class="modal-dialog">
 
 <div class="modal-content">
 <div class="modal-header">
   <button type="button" class="close" data-dismiss="modal"><small>Cancel</small>&times;</button>
 <h4 class="modal-title text-primary"><center>Modify Tooltip </center></h4>
 </div>
 
<div class="modal-body">
<form id="tooltip-form">
<button class="btn btn-info" ng-click="insertDate()">Insert Date </button>
<br>
<input type="hidden" name="rootindex" value="{{ttEntry.rootindex}}">
<textarea name="tooltip">modify tooltip</textarea>
</form>
<div id="tooltip-edit-status"></div>
</div>

<div class ="modal-footer">
<button class="btn btn-primary" ng-click= "submitTooltip()">Submit </button>
</div>
</div>
</div>
</div>


</body>
</html>