
<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="container-fluid">
<div class="col-md-2 left-nav-menu">
<ul class="list-group">
<li id ='li-add-pj' class="list-group-item " ng-click="compCtrl.renderModal.addPj()"><center><img class="nav-menu-image" src="images/project_create.png"></img><center><span class="overlay overlay-add"><div class="overlay-text">Add Project </div><span></li>
<li id ='li-del-pj' class="list-group-item" ng-click="compCtrl.renderModal.delPj()"><center><img class="nav-menu-image" src="images/project_delete.png"></img></center><span class="overlay overlay-del"><div class="overlay-text">Delete Project </div><span> </li>
</ul>

<div id="data-filter" class="form">
<label class="control-label"><span class="bg-success"> Start Date : </span></label>
<input class="date-picker form-control" type="date" ng-model="compCtrl.startDate">
<br>
<label class="control-label"><span class="bg-success">End Date : </span></label>
<input class="date-picker form-control" type="date" ng-model="compCtrl.endDate">
</div>
<br>
<input class="btn btn-info" value="Reset Filter" ng-click="compCtrl.filterObj.reset()">
</div>




<div class="col-md-10">
<table id="table-completed-proj" class="table table-condensed table-hover table-striped table-bordered">
<tr><th>#</th><th>Customer</th><th>Product</th><th>Main Feature</th><th>Revenue</th><th>Request Date</th><th>VR Date</th><th>Region</th></tr>
<tr ng-repeat= "x in compCtrl.entries |filter:searchKeyword | filter:compCtrl.filterObj.func" ng-click = "compCtrl.renderModal.display(x.id)"><td>{{$index+1}}</td><td>{{x.customer}}</td><td>{{x.product}}</td><td>{{x.feature}}</td><td>{{x.revenue}}</td><td>{{x.datestart}}</td><td>{{x.datevr}}</td><td>{{x.region}}</td></tr>
</table>
</div>
</div>


<!-- Show individual entry modal-->


<!-- Show individual entry modal-->
<disp-pj-modal pjdata ="compCtrl.pjdata" itemlist = "compCtrl.itemlist" render-modal = "compCtrl.renderModal"> </disp-pj-modal>
<!-- Ends -->

<!--Add new project modal directive -->
<add-pj-modal add-pj-obj="compCtrl.addPjObj" completed="compCtrl.completed"></add-pj-modal>
<!--Add new project modal directive Ends -->

<!--delete project modal directive -->
<delete-pj-modal del-pj-obj="compCtrl.delPjObj" entries="compCtrl.entries"></delete-pj-modal>
<!--delete project modal directive Ends -->

<!-- Add item modal directive -->
<add-item-modal add-item-obj ="compCtrl.addItemObj" pjid="compCtrl.pjid"></add-item-modal>
<!--Add item directive Ends -->

<edit-item-modal edit-item-obj="compCtrl.editItemObj" pjdata = "compCtrl.pjdata" itemlist ="compCtrl.itemlist" completed="compCtrl.completed"> </edit-item-modal>

<!-- Delete item modal is defined -->
<delete-item-modal del-item-obj="compCtrl.delItemObj" itemlist ="compCtrl.itemlist"></delete-item-modal>
<!-- Delete item modal ends -->

<alert-modal></alert-modal>

</body>
</html>