<div class="modal fade" id="del-item-modal">

  <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-default">
            <button type="button" class="close" data-dismiss="modal"><small>Cancel</small>&times;</button>
            <h4 class="modal-title">Select Items To Delete</h4>
          </div>
    <div class="modal-body">
    <div class="panel">
    <div class="panel-body">
    <form id="form-del-item" ng-submit = "$ctrl.delItemObj.submit()"> 
    <select class="form-control srt-item-select" name="id" ng-model="$ctrl.delItemObj.selected" ng-change="$ctrl.delItemObj.reset()">
      <option ng-repeat="x in $ctrl.itemlist" value="{{x.id}}">item{{$index+1}}. {{x.crid}}[{{x.summary}}]</option>
    </select>

    <br><br>
  <h5 class="text-primary" ng-if="$ctrl.delItemObj.selected ==='initial'">No entry is selected </h5>
  <div ng-if="$ctrl.delItemObj.selected !=='initial'">
  <button type="button" ng-hide="$ctrl.delItemObj.delClicked" class="btn btn-danger btn-in-modal" ng-click="$ctrl.delItemObj.click()">DELETE </button>
  <input ng-show="$ctrl.delItemObj.delClicked" class="btn btn-primary btn-in-modal" type="submit" value="CONFIRM">
  <h5 ng-show="$ctrl.delItemObj.delClicked" class="text-success"> Please confirm to delete! </h5>
  </div>

  </form>
  <div id="del-item-status"></div>
  </div>
  </div>
  </div>
  </div>
  <div class="modal-footer"> 
  </div>
</div>
</div>